{% extends "base.html" %}
{% block content %}
<div class="slider_area slider_bg_1">
    <div class="slider_text">
        <div class="container">
            <div class="position_relv">
                <div class="row">
                    <div class="col-xl-8">
                        <div class="title_text title_text2 ">
                            <h3>로그인</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-3">
    <div class="row">
        <div class="col-12">
            <form method="post" class="post-form" action="{% url 'accounts:login' %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{next}}"> <!-- 로그인 성공후 이동되는 URL -->
                {% include "form_errors.html" %}
                <div class="form-group">
                    <label for="username">학번</label>
                    <input type="text" class="form-control sign id" name="username" id="username" placeholder="학번을 입력하세요"
                           value="{{ form.username.value|default_if_none:'' }}">
                </div>
                <div class="form-group">
                    <label for="password">비밀번호</label>
                    <input type="password" class="form-control sign" name="password" id="password" placeholder="비밀번호를 입력하세요"
                           value="{{ form.password.value|default_if_none:'' }}">
                </div>
                <div class="form-group mt-3 signin-up">
                    <button type="submit" class="button button-contactForm boxed-btn log-in">로그인</button>
                    <a href="{% url 'accounts:signup' %}" class="button button-contactForm boxed-btn log-in">회원가입</a>
                    <a class="pull-right genric-btn danger-border circle arrow" href="{% url 'reset_password' %}">비밀번호 찾기</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
