{% extends "base.html" %}
{% block content %}
<div class="slider_area slider_bg_1">
    <div class="slider_text">
        <div class="container">
            <div class="position_relv">
                <div class="row">
                    <div class="col-8">
                        <div class="title_text title_text2 ">
                            <h3>비밀번호 찾기</h3>
                        </div>
                    </div>
                    <div class="col-4">
                        <form method="post">
                            {% csrf_token %}
                            {{form}}
                            <input type="submit" value="전송" placeholder="회원가입한 이메일을 입력해주세요">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}