{% extends 'base.html' %}
{% load info_filter %}
{% block content %}
<div class="slider_area slider_bg_1">
    <div class="slider_text">
        <div class="container">
            <div class="position_relv">
                <div class="row">
                    <div class="col-xl-8">
                        <div class="title_text title_text2 ">
                            <h3>동아리<br>공지사항</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="posts-list">
                <!-- single-post 시작 -->
                <div class="single-post">
                    <div class="blog_details">
                        <h2>{{post.subject}}</h2>
                        <ul class="blog-notice-link mt-3 mb-4">
                            <li><i class="fa fa-user"></i>{{post.author.username}}</li>
                            <li><i class="fa fa-table"></i>
                                {% if post.modify_date %}
                                (수정됨){{post.modify_date}}
                                {% else %}
                                {{post.create_date}}
                                {% endif %}
                            </li>
                        </ul>
                        <h3 class="mb-30 content-font">
                            {{post.content}}
                        </h3>
                        {% if request.user == post.author %}
                        <a href="{% url 'notice:post_modify' post.id %}"
                           class="btn btn-sm btn-outline-secondary">수정</a>
                        <a href="#" class="delete btn btn-sm btn-outline-secondary"
                           data-uri = "{% url 'notice:post_delete' post.id %}">삭제</a>
                        {% endif %}
                        {% if post.upload_files %}
                        <div>
                            <i class="fa fa-download fa-2x"></i>
                            <a href="{% url 'notice:notice_download' post.id %}" >&nbsp{{ post.filename}}</a>
                        </div>
                        {% endif %}
                        <a href="{% url 'notice:index' %}" class="btn btn-sm btn-outline-secondary pull-right">목록</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    $(document).ready(function(){
    $(".delete").on('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = $(this).data('uri');
        }
    });
});
</script>
{% endblock %}