{% extends 'base.html' %}

{% block content %}
<h1>메인 Page입니다.</h1>

<section>
    <h1 style="color:blue">{{user.username}}님, 안녕하세요!</h1>
</section>

<!-- One -->
<section>
    <div>
        <div>
            <article>
                <header>
                    <h3>Emsys<br /> aliquam veroeros</h3>
                </header>
                <p>뭐라 씨부릴지 모르겠다..</p>
                <footer>
                    <a href="#" class="button special">More</a>
                </footer>
            </article>
            <article>
                <header>
                    <h3>소프트웨어학과 공지사항</h3>
                </header>
                <table>
                    <tbody>
                    <tr>
                        <td>Ante turpis integer aliquet porttitor.</td>
                    </tr>
                    <tr>
                        <td>Ante turpis integer aliquet porttitor.</td>
                    </tr>
                    <tr>
                        <td>Ante turpis integer aliquet porttitor.</td>
                    </tr>
                    <tr>
                        <td>Ante turpis integer aliquet porttitor.</td>
                    </tr>
                    <tr>
                        <td>Ante turpis integer aliquet porttitor.</td>
                    </tr>
                    </tbody>
                </table>
                <footer>
                    <a href="swnotice.html" class="button special">More</a>
                </footer>
            </article>
            <article>
                <header>
                    <h3>소중사업단 공지사항</h3>
                </header>
                <table>
                    <tbody>
                    <tr>
                        <td>Ante turpis integer aliquet porttitor.</td>
                    </tr>
                    <tr>
                        <td>Ante turpis integer aliquet porttitor.</td>
                    </tr>
                    <tr>
                        <td>Ante turpis integer aliquet porttitor.</td>
                    </tr>
                    <tr>
                        <td>Ante turpis integer aliquet porttitor.</td>
                    </tr>
                    <tr>
                        <td>Ante turpis integer aliquet porttitor.</td>
                    </tr>
                    </tbody>
                </table>
                <footer>
                    <a href="sw7upnotice.html" >More</a>
                </footer>
            </article>
        </div>
    </div>
</section>

<footer >
   <div>
       <div>
           <div>
                &copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
            </div>
            <ul>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
                <li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
                <li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
            </ul>
        </div>
    </div>
</footer>

</body>
</html>
{% endblock %}