{% extends 'base.html' %}

{% block content %}
<h1>소개 Page입니다.</h1>
<div class="inner">

    <h2>EMSYS </h2>
    <h4>Emsys 동아리는</h4>
    <p>충북대학교 소프트웨어학과 학술동아리로서 동아리 회원들의 학업 능력 증진을 위한 스터디를 시행하며, 안드로이드 애플리케이션 개발과 아두이노, 드론 제작 및 연구를 진행하여 학부생으로서 학업 외 활동들을 동아리를 통해 경험할 수 있습니다. 그 외에도 소프트웨어 경진대회를 통해 프로그래밍과 코딩 능력을 기르며 동아리 회원들끼리의 대외활동과 MT, 선후배 체육대회 등을 통해 사회 경험과 친목을 다질 수 있는 동아리입니다.</p>
    </br>
    <h4>주요 연구 분야</h4>
    </br>
    </br>
    <p>C/C++,C#,Java 등의 프로그래밍 언어를 사용한 소프트웨어, 안드로이드 어플리케이션 개발 및 아두이노, 드론 연구</p>
</div>
</section>
<!--동아리 임원소개 사용할  부분-->
<div>
    <header>
        <h2>임원 소개</h2>
        <p>Club officers</p>
    </header>
   <div>
       <div>
           <div>
                <img src="static/test.jpg" width="10%", height="10%" alt="Person 1" />
            </div>
            <h3>Magna</h3>
            <p>Cipdum dolor</p>
        </div>
        <div>
            <div>
                <img src="images/pic04.jpg" alt="Person 2" />
            </div>
            <h3>Ipsum</h3>
            <p>Vestibulum comm</p>
        </div>
       <div>
           <div>
                <img src="images/pic05.jpg" alt="Person 3" />
            </div>
            <h3>Tempus</h3>
            <p>Fusce pellentes</p>
        </div>
        <div>
           <div>
                <img src="images/pic06.jpg" alt="Person 4" />
            </div>
            <h3>Dolore</h3>
            <p>Praesent placer</p>
        </div>
       <div>
           <div>
                <img src="images/pic06.jpg" alt="Person 4" />
            </div>
            <h3>Dolore</h3>
            <p>Praesent placer</p>
        </div>
    </div>
</div>
{% endblock %}