{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="slider_area slider_bg_1">
  <div class="slider_text">
    <div class="container">
      <div class="position_relv">
        <div class="row">
          <div class="col-xl-8">
            <div class="title_text title_text2 ">
              <h3 class="c1">소</h3>
              <h3 class="c2">개</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about_area">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-6 col-md-6">
        <div class="about_thumb">
          <img src="{% static 'img/about/about.jpg' %}" alt="">
        </div>
      </div>
      <div class="col-xl-5 offset-xl-1 col-md-6">
        <div class="about_info">
          <div class="section_title">
            <h3>충북대학교 <br>
              임베디드 동아리 <br>
              엠시스입니다</h3>
          </div>
          <p><strong>충북대학교 소프트웨어학과 학술동아리</strong>로서<br>
            동아리 회원들의 학업 능력 증진을 위한 스터디를 시행하며,
            <br>안드로이드 애플리케이션 개발과 아두이노, 드론 제작 및 연구를 진행하여 학부생으로서 학업 외 활동들을 동아리를 통해 경험할 수 있습니다. 그 외에도 소프트웨어 경진대회를 통해 프로그래밍과 코딩 능력을 기르며 동아리 회원들끼리의 대외활동과 MT, 선후배 체육대회 등을 통해 사회 경험과 친목을 다질 수 있는 동아리입니다.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="speakers_area">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="serction_title_large mb-95">
          <h3>주요 연구 분야</h3><br><br><br>
          <h4>C/C++,C#,Java 등의 프로그래밍 언어를 사용한 <br>소프트웨어, 안드로이드 어플리케이션 개발 및 아두이노, 드론 연구</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="speakers_area">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="serction_title_large mb-95">
          <h3>
            임원 소개
          </h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-md-6 col-sm-6 col-xs-6">
        <div class="single_speaker">
          <div class="speaker_name text-center">
            <h1>오홍석</h1>
            <p>동아리 회장</p>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-md-6 col-sm-6 col-xs-6">
        <div class="single_speaker">
          <div class="speaker_name text-center">
            <h1>한서영</h1>
            <p>동아리 부회장</p>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-md-6 col-sm-6 col-xs-6">
        <div class="single_speaker">
          <div class="speaker_name text-center">
            <h1>김선형</h1>
            <p>총무</p>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-md-6 col-sm-6 col-xs-6">
        <div class="single_speaker">
          <div class="speaker_name text-center">
            <h1>송유현</h1>
            <p>교육부장</p>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-md-6 col-sm-6 col-xs-6">
        <div class="single_speaker">
          <div class="speaker_name text-center">
            <h1>신한솔</h1>
            <p>기획부장</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="speakers_area">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-sm-12 col-lg-12 col-xs-12">
        <div class="serction_title_large mb-95">
          <h3>
            주요 활동 및 수상 실적
          </h3>
          <ul class="unordered-list">
            <br><li><h4>2016 교내 소프트웨어 경진대회 - 우수상 1명, 장려상 3명</h4></li><br>
            <li><h4>2016 HCI 작품 전시회 우수상</h4></li><br>
            <li><h4>2016 제 3회 사물인터넷 전국 소프트웨어 공모전 장려상</h4></li><br>
            <li><h4>2016 CEDC 은상</h4></li><br>
            <li><h4>2017 프로보노 ICT멘토링 인기상</h4></li><br>
            <li><h4>2017 제 6회 충청북도 모바일 앱 공모대전 본선 진출</h4></li><br>
            <li><h4>2017 지역선도대학 SW 경진대회 장려상</h4></li><br>
            <li><h4>2018 HCI 작품 전시회 최우수상</h4></li><br>
            <li><h4>2018 지역선도대학 SW 경진대회 장려상</h4></li><br>
            <li><h4>2018 찾아가는공개SW체험캠프 정보통신산업진흥원상</h4></li><br>
            <li><h4>2018 충북대학교 창업아이디어 경진대회 최우수상</h4></li><br>
            <li><h4>2019 게임캠퍼스 게임잼 우수상</h4></li><br>
            <li><h4>2019 캡스톤 디자인 전시회 최우수상 및 대상</h4></li><br>
            <li><h4>2019 인간컴퓨팅 상호작용 전시회 참여 및 우수상</h4></li><br>
            <li><h4>2019 알고리즘 경진대회 장려상</h4></li><br>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}