{% extends 'base.html' %}
{% load info_filter %}
{% block content %}
<div class="slider_area slider_bg_1">
    <div class="slider_text">
        <div class="container">
            <div class="position_relv">
                <div class="row">
                    <div class="col-xl-8">
                        <div class="title_text title_text2 ">
                            <h3>결산내역</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="posts-list">
                <!-- single-post 시작 -->
                <div class="single-post">
                    <div class="blog_details">
                        <h2>{{post.subject}}</h2>
                        <ul class="blog-info-link mt-3 mb-4">
                            <li><i class="fa fa-user"></i>{{post.author.username}}</li>
                            <li><i class="fa fa-table"></i>
                                {% if post.modify_date %}
                                (수정됨){{post.modify_date}}
                                {% else %}
                                {{post.create_date}}
                                {% endif %}
                            </li>
                        </ul>
                        <p class="excert">
                            {{post.content|mark}}
                        </p>
                        {% if post.upload_files %}
                        <div>
                            <span>다운로드 :&nbsp;</span>
                            <a href="{% url 'info:info_download' post.id %}" >{{ post.filename}}</a>
                        </div>
                        {% endif %}
                        <a href="{% url 'info:list' %}" class="btn btn-sm btn-outline-secondary pull-right">목록</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}