{% extends 'base.html' %}
{% block content %}
<!-- faq_area_Start -->
<div class="slider_area slider_bg_1">
  <div class="slider_text">
    <div class="container">
      <div class="position_relv">
        <div class="row">
          <div class="col-xl-8">
            <div class="title_text title_text2 ">
              <h3 class="c1">개</h3>
              <h3 class="c2">인</h3>
              <h3 class="c3">정</h3>
              <h3 class="c4">보 </h3><br>
              <h3 class="c5">이</h3>
                <h3 class="c2">용</h3>
                <h3 class="c2">방</h3>
                <h3 class="c2">침</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    <div class="faq_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="serction_title_large mb-95">
                        <h3>
                            개인정보 이용방침
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        <img src="img/barnd/info.png" alt=""><span>1. 개인정보의 처리 목적</span>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordion" style="">
                                <div class="card-body">
                                EMSYS 개인정보를 다음의 목적을 위해 처리합니다. 처리한 개인정보는 다음의 목적이외의 용도로는 사용되지 않으며<br> 이용 목적이 변경될 시에는 사전동의를 구할 예정입니다.<br><br>
                                   1. 홈페이지 회원가입 및 관리
                                   회원 가입의사 확인, 회원제 서비스 제공에 따른 본인 식별·인증, 회원자격 유지·관리, 고충처리 등을 목적으로 <br>개인정보를 처리합니다.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                         <img src="img/barnd/info.png" alt=""><span>2. 개인정보 파일 현황</span>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion"
                                style="">
                                <div class="card-body">
                                  1. 개인정보 파일명 : 충북대학교 EMSYS 홈페이지 회원 및 지원 관리<br><br>
                                     - 개인정보 항목 : 이메일, 이름, 휴대전화번호, 학번<br>
                                     - 수집방법 : 홈페이지 회원가입 시<br>
                                     - 보유방법 : 데이터 베이스, 개인정보를 따로 문서화 하지 않습니다.<br>
                                     - 보유기간 : 본교 재직기간 / 동아리 가입기간<br>
                                     - 관련법령 : 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년<br>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        <img src="img/barnd/info.png" alt=""><span> 3. 개인정보 이용 관련 <span>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordion" style="">
                                <div class="card-body">
                                    회원관리, 서비스 이용을 위해 이용합니다..<br><br>
                                    1. 회원 식별, 부정이용 방지<br>
                                    2. 이용자 간 원활한 의견 및 정보 공유.<br>
                                    3. 사이트내 서비스 이용<br>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading_4">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapse_4" aria-expanded="false" aria-controls="collapse_4">
                                        <img src="img/barnd/info.png" alt=""> <span>4. 개인정보 파기관련</span>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse_4" class="collapse" aria-labelledby="heading_4" data-parent="#accordion"
                                style="">
                                <div class="card-body">
                                   개인정보가 파기 되는 경우는 다음과 같습니다.<br><br>
                                    1. 동아리 구성원이 동아리를 나갈 시<br>
                                    2. 동아리 구성원이 졸업을 할 시.<br><br>
                                    위와 같은 경우 개인정보가 파기 되며, 파기되는 개인정보는 동아리 데이터 베이스에서 완전히 삭제 됩니다.<br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- faq_area_end -->

{% endblock %}