{% load static %}
<!-- footer_start -->
<footer class="footer footer_bg_1">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-4 col-lg-4">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Family Site.
                        </h3>
                        <ul>
                            <li><a target="_blank" href="https://www.chungbuk.ac.kr/site/www/main.do">충북대학교</a></li>
                            <li><a target="_blank" href="https://ece.cbnu.ac.kr/">전자정보 대학교</a></li>
                            <li><a target="_blank" href="http://sw7up.cbnu.ac.kr/">소프트웨어 중심 사업단</a></li>
                            <li><a target="_blank" href="https://software.cbnu.ac.kr/">소프트웨어 학과</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 col-lg-4">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Location.
                        </h3>
                        <p>
                            충북 청주시 서원구 충대로 1, <br>
                            충북대학교 전자정보대학 소프트웨어학과 <br>
                            S4-1동(전자정보 3관) 110호<br>
                            emsys@g.cbnu.ac.kr <br>
                        </p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 col-lg-4">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Dev. & Policy.
                        </h3>
                        <p>
                            Django FrameWork<br>
                            BootStrab4<br>
                            Sqlite<br>
                            <a class="policy" href="{% url 'info:sitepolicy'%}">개인정보 이용방침</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right_text">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row">
                <div class="col-xl-12">
                    <p class="copy_right text-center">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made by <a href="https://colorlib.com" target="_blank">Colorlib</a><br>
                        EMSYS WEB SITE - MADE BY OH
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer_end -->