{% load static %}
<header>
  <div class="header-area ">
    <div id="sticky-header" class="main-header-area ">
      <div class="container-fluid p-0">
        <div class="row align-items-center justify-content-between no-gutters">
          <div class="col-xl-2 col-lg-2">
            <div class="logo-img">
              <a href="{% url 'index' %}">
                <img src="{% static 'img/logo.png' %}">
              </a>
            </div>
          </div>
          <div class="col-xl-8 col-lg-8">
            <div class="main-menu  d-none d-lg-block">
              <nav>
                <ul id="navigation">
                  <li><a href="{% url 'info:index' %}">동아리 소개 <i class="ti-angle-down"></i></a>
                    <ul class="submenu">
                      <li><a href="{% url 'info:index' %}">동아리 소개</a></li>
                      <li><a href="{% url 'info:list' %}">동아리 정보공개</a></li>
                    </ul>
                  </li>
                  <li><a href="{% url 'notice:index'%}">공지사항 <i class="ti-angle-down"></i></a>
                    <ul class="submenu">
                      <li><a href="{% url 'notice:index'%}">엠시스</a></li>
                      <li><a href="{% url 'notice_sw:list' %}">소프트웨어 학과</a></li>
                      <li><a href="{% url 'notice_sw7up:index' %}">소중 사업단<br>(크롤링 기능 준비중...)</a></li>
                    </ul>
                  </li>
                  <li><a href="{% url 'activity:list'%}">동아리 활동</a></li>
                  <li><a href="{% url 'study:list'%}">자료실 <i class="ti-angle-down"></i></a>
                    <ul class="submenu">
                      <li><a href="{% url 'study:list'%}">햑술 자료</a></li>
                      <li><a href="{% url 'contest:list'%}">공모전 자료</a></li>
                    </ul>
                  </li>
                  {% if user.is_authenticated %}
                  <li><a href="{% url 'accounts:change_password'%}">마이페이지</a></li>
                  <li><a href="{% url 'accounts:logout'%}">로그아웃({{user.username}})</a></li>
                  {% else %}
                  <li><a href="{% url 'accounts:login'%}">로그인</a></li>
                  {% endif %}
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 d-none d-lg-block">
            <div class="buy_ticket">
              {% if user.is_authenticated %}
              <a href="{% url 'accounts:logout'%}" class="boxed-btn-white">Logout</a>
              {% else %}
              <a href="{% url 'accounts:login'%}" class="boxed-btn-white">Login</a>
              {% endif %}
            </div>
          </div>
          <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>